<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About Me</a></li>
<li><a href="https://drive.google.com/file/d/16PYHfAV1PjQ7rr3akHYBX8FOEVVl18k8/view?usp=sharing">Résumé</a></li>

</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:jerry.wang.ct@gmail.com">email</a></li>
   <li><a href="https://github.com/notimeleft">github</a></li>
   <li><a href="https://linkedin.com/in/jerry-wang-63a0a911b">linkedIn</a></li>
   </ul>
  </footer>
  </body>

</html>
